/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */


 .profile_img{
   height: 320px;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
 }

 .small_profile_img{
   background-repeat: no-repeat;
   background-size: 60px;
   background-position: center;
 }

.logo{
  width: 1140px;
  height: 150px;
  background-image: asset_url('pasek.jpg');
  border-radius: 12px;
  margin-bottom: 10px;
  border-style: none;
}

.logo-sm{
  width: auto;
  border-radius: 12px;
  margin-bottom: 10px;
  border-style: none;
}

.btn-primary{
  color: WHITE !important;
}

.color-primary a{
  color: #0275d8;
}

.color-primary a:visited
{
  color: #0275d8 !important;
}

.color-primary a:hover
{
  color: WHITE !important;
}

body {
    background-image: asset_url('hexellence.png');
    color: black;
  }

.glowing-button {
    background-color: #0275d8;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #0275d8; -webkit-box-shadow: 0 0 3px #0275d8; }
    50% { background-color: #2497fa; -webkit-box-shadow: 0 0 30px #2497fa; }
    100% { background-color: #0275d8; -webkit-box-shadow: 0 0 3px #0275d8; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #0275d8; -moz-box-shadow: 0 0 3px #0275d8; }
    50% { background-color: #2497fa; -moz-box-shadow: 0 0 30px #2497fa; }
    100% { background-color: #0275d8; -moz-box-shadow: 0 0 3px #0275d8; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #0275d8; box-shadow: 0 0 3px #0275d8; }
    50% { background-color: #2497fa; box-shadow: 0 0 30px #2497fa; }
    100% { background-color: #0275d8; box-shadow: 0 0 3px #0275d8; }
  }
  
  @keyframes glowing {
    0% { background-color: #0275d8; box-shadow: 0 0 3px #0275d8; }
    50% { background-color: #2497fa; box-shadow: 0 0 30px #2497fa; }
    100% { background-color: #0275d8; box-shadow: 0 0 3px #0275d8; }
  }