/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .mbs
 {
     width: 65px;
     color: white !important;
     margin: 2px;
 }

.my-nav
{
  margin-left: auto;
  margin-right: auto;
}

body {
    background: #262626;
  }
  
  ul {
  }
  
  ul li {
    list-style:none;
    margin: 15px;
  }
  
  ul li .my-a {
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #171515;
    border-radius: 12px;
    font-size: 14px;
    color: #666;
    transition: .5s;
  }
  
  ul li .my-a:before {
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ul li .my-a:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
  }
  
  ul li .my-a:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
    text-decoration: none;

    }

